<a href="https://colab.research.google.com/github/AliShujjat/DSProject/blob/main/DSProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Retrieving the data from Google Drive
from google.colab import drive
drive.mount('/content/drive')
!cp "/content/drive/My Drive/Edu.csv" "Edu.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#Importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif

In [3]:
df = pd.read_csv('Edu.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,78,82,86,89,92,131) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df.head()

   Year of Survey  Type of place of residence  ...  GS021z  _merge
0            2018                           0  ...     0.0       1
1            2018                           0  ...     0.0       1
2            2018                           0  ...     0.0       1
3            2018                           0  ...     0.0       1
4            2018                           0  ...     0.0       1

[5 rows x 205 columns]

In [22]:
df.rename(columns={'Gender ':'Gender'},inplace=True)

In [15]:
df.select_dtypes("object")
labels = ['Type of place of residence','Gender','Edu status','Reasons for dropout','If Drop-out, studied up-to which\nclass','Current Class-Grade of Child','Currently Enrolled: Institution type','Enrolled child currently taking any paid tution','Windex','Type of household','mergeone','Name of Province/Territory','Name of the District','Local Language of the Village','mergetwo','Mother education','PR005','Father education status','If gone, what was grade last completed by father?','mergethree','GS001a','GS003a','GS005','GS012d','_merge']

In [16]:
for i in labels:
  df[i]= df[i].astype('category')
  label = dict(enumerate(df[i].cat.categories))
  df[[i]] = df[[i]].apply(lambda x: x.cat.codes)

In [32]:
df.to_csv('Edu1.csv')