<a href="https://colab.research.google.com/github/AliShujjat/DSProject/blob/main/DSProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Retrieving the data from Google Drive
from google.colab import drive
drive.mount('/content/drive')
!cp "/content/drive/My Drive/Edu.csv" "Edu.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
cp: cannot stat '/content/drive/My Drive/Edu.csv': No such file or directory

In [3]:
!cp "/content/drive/My Drive/Edu/Edu1.csv" "Edu1.csv"

In [4]:
#Importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif

In [9]:
df = pd.read_csv('Edu.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,78,82,86,89,92,131) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

   Year of Survey  Type of place of residence  ...  GS021z  _merge
0            2018                           0  ...     0.0       1
1            2018                           0  ...     0.0       1
2            2018                           0  ...     0.0       1
3            2018                           0  ...     0.0       1
4            2018                           0  ...     0.0       1

[5 rows x 205 columns]

In [ ]:
df.rename(columns={'Gender ':'Gender'},inplace=True)

In [ ]:
df.select_dtypes("object")
labels = ['Type of place of residence','Gender','Edu status','Reasons for dropout','If Drop-out, studied up-to which\nclass','Current Class-Grade of Child','Currently Enrolled: Institution type','Enrolled child currently taking any paid tution','Windex','Type of household','mergeone','Name of Province/Territory','Name of the District','Local Language of the Village','mergetwo','Mother education','PR005','Father education status','If gone, what was grade last completed by father?','mergethree','GS001a','GS003a','GS005','GS012d','_merge']

In [ ]:
for i in labels:
  df[i]= df[i].astype('category')
  label = dict(enumerate(df[i].cat.categories))
  df[[i]] = df[[i]].apply(lambda x: x.cat.codes)

In [ ]:
df.to_csv('Edu1.csv')

#Feature Selection#

In [5]:
df = pd.read_csv('Edu1.csv')

In [6]:
df.head(10)

   Unnamed: 0  Year of Survey  ...  GS021z  _merge
0           0            2018  ...     0.0       1
1           1            2018  ...     0.0       1
2           2            2018  ...     0.0       1
3           3            2018  ...     0.0       1
4           4            2018  ...     0.0       1
5           5            2018  ...     0.0       1
6           6            2018  ...     0.0       1
7           7            2018  ...     0.0       1
8           8            2018  ...     0.0       1
9           9            2018  ...     0.0       1

[10 rows x 206 columns]

In [7]:
df.replace(-1,50,inplace=True)
df.replace(np.nan,50,inplace=True)

In [8]:
df = df.abs()

In [9]:
df.iloc[:,9]

0         1.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
260181    3.0
260182    1.0
260183    1.0
260184    1.0
260185    3.0
Name: Education Status of Child, Length: 260186, dtype: float64

In [10]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import f_classif
 
#Input attributes
X= df.iloc[:,:]
 
#outout attribute
Y = df.iloc[:,9]

In [14]:
#apply SelectKBest class to extract top 4 best features
bestfeatures = SelectKBest(score_func=chi2, k=50)
fitted = bestfeatures.fit(X,Y)
reducedFeatures = fitted.transform(X)
print(X.shape)
print(reducedFeatures.shape)

(260186, 206)
(260186, 50)

In [18]:
dfscores = pd.DataFrame(fitted.scores_)
dfcolumns = pd.DataFrame(X.columns)
 
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score'] #naming the dataframe columns
 
print(featureScores.nlargest(50,'Score')) #print 10 best features

                                                 Specs         Score
144                                              GS017  2.696172e+08
146                                             GS018a  2.574623e+08
151                                             GS018e  1.313843e+08
0                                           Unnamed: 0  9.811529e+07
152                                             GS018f  7.487785e+07
176                                             GS020a  7.362810e+07
177                                            GS020b1  3.465331e+07
148                                            GS018b2  2.677527e+07
182                                             GS020f  2.166734e+07
147                                            GS018b1  2.112295e+07
181                                             GS020e  2.110308e+07
178                                            GS020b2  4.673671e+06
20                                               C008b  4.457445e+06
85                      Unique ID of government school  4.051520e+06
13             If Drop-out, studied up-to which\nclass  3.692647e+06
150                                             GS018d  3.633812e+06
153                                             GS018g  9.989798e+05
12                                 Reasons for dropout  8.967640e+05
11                                 Reasons for Dropout  8.610891e+05
14                        Current Class-Grade of Child  4.709189e+05
179                                             GS020c  3.956300e+05
94                                              GS007E  3.922390e+05
95                                              GS007P  3.788884e+05
10                                          Edu status  3.617709e+05
183                                             GS020g  3.057574e+05
149                                             GS018c  2.586901e+05
184                                             GS020h  2.121763e+05
21                                                C010  1.533500e+05
180                                             GS020d  1.397258e+05
29                                                C013  1.178645e+05
25                                   Arithmetic Levels  1.111310e+05
175                                              GS020  1.044008e+05
145                                              GS018  1.043491e+05
6                                         Age of Child  9.904816e+04
91                                              GS003Y  9.854864e+04
15               Currentlly enrolled: Institution Type  9.506538e+04
79                                               PR005  7.894805e+04
9                            Education Status of Child  7.781493e+04
16                Currently Enrolled: Institution type  4.845746e+04
83   If gone, what was grade last completed by father?  4.598999e+04
5                                                  DID  4.512488e+04
80                     Age of father (completed years)  4.314146e+04
24                                                C011  4.052015e+04
74                     Age of mother (completed years)  3.921442e+04
142                                              GS015  1.835674e+04
143                                              GS016  1.499334e+04
19     Enrolled child currently taking any paid tution  8.777693e+03
154                                             GS018h  8.690282e+03
116                                             GS011a  7.758420e+03
72                                                V008  7.489785e+03