<a href="https://colab.research.google.com/github/AliShujjat/DropOutRatesInPakistan/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Retrieving the data from Google Drive
from google.colab import drive
drive.mount('/content/drive')
!cp "/content/drive/My Drive/Edu/Edu.csv" "Edu.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('Edu.csv')

In [ ]:
df.head()

   Year of Survey Type of place of residence  ...  GS021z       _merge
0            2018                      Rural  ...     0.0  matched (3)
1            2018                      Rural  ...     0.0  matched (3)
2            2018                      Rural  ...     0.0  matched (3)
3            2018                      Rural  ...     0.0  matched (3)
4            2018                      Rural  ...     0.0  matched (3)

[5 rows x 205 columns]

In [ ]:
df.rename(columns={'Gender ':'Gender'},inplace=True)

In [ ]:
df.select_dtypes("object")
labels = ['Type of place of residence','Gender','Edu status','Reasons for dropout','If Drop-out, studied up-to which\nclass','Current Class-Grade of Child','Currently Enrolled: Institution type','Enrolled child currently taking any paid tution','Windex','Type of household','mergeone','Name of Province/Territory','Name of the District','Local Language of the Village','mergetwo','Mother education','PR005','Father education status','If gone, what was grade last completed by father?','mergethree','GS001a','GS003a','GS005','GS012d','_merge']

In [ ]:
#Label Encoding
for i in labels:
  df[i]= df[i].astype('category')
  label = dict(enumerate(df[i].cat.categories))
  df[[i]] = df[[i]].apply(lambda x: x.cat.codes)

In [ ]:
#Save labelled data
df.to_csv('Edu1.csv')

#Feature Selection#

In [ ]:
df = pd.read_csv('Edu1.csv')

In [ ]:
df.head(10)

   Unnamed: 0  Year of Survey  ...  GS021z  _merge
0           0            2018  ...     0.0       1
1           1            2018  ...     0.0       1
2           2            2018  ...     0.0       1
3           3            2018  ...     0.0       1
4           4            2018  ...     0.0       1
5           5            2018  ...     0.0       1
6           6            2018  ...     0.0       1
7           7            2018  ...     0.0       1
8           8            2018  ...     0.0       1
9           9            2018  ...     0.0       1

[10 rows x 206 columns]

In [ ]:
df.replace(-1,50,inplace=True)
df.replace(np.nan,50,inplace=True)

In [ ]:
df = df.abs()

In [ ]:
df.iloc[:,9]

0         1.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
260181    3.0
260182    1.0
260183    1.0
260184    1.0
260185    3.0
Name: Education Status of Child, Length: 260186, dtype: float64

Using Select K-best

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import f_classif
 
#Input attributes
X= df.iloc[:,:]
 
#outout attribute
Y = df.iloc[:,9]

In [ ]:
#apply SelectKBest class to extract top 4 best features
bestfeatures = SelectKBest(score_func=chi2, k=50)
fitted = bestfeatures.fit(X,Y)
reducedFeatures = fitted.transform(X)
print(X.shape)
print(reducedFeatures.shape)

(260186, 206)
(260186, 50)

In [ ]:
dfscores = pd.DataFrame(fitted.scores_)
dfcolumns = pd.DataFrame(X.columns)
 
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score'] #naming the dataframe columns
 
print(featureScores.nlargest(50,'Score')) #print 10 best features

                                                 Specs         Score
144                                              GS017  2.694561e+08
146                                             GS018a  2.573546e+08
151                                             GS018e  1.310804e+08
0                                           Unnamed: 0  9.811529e+07
152                                             GS018f  7.467815e+07
176                                             GS020a  7.352551e+07
177                                            GS020b1  3.442314e+07
148                                            GS018b2  2.630151e+07
182                                             GS020f  2.150243e+07
147                                            GS018b1  2.107011e+07
181                                             GS020e  2.090006e+07
16                Currently Enrolled: Institution type  8.609198e+06
15               Currentlly enrolled: Institution Type  8.146379e+06
178                                            GS020b2  4.507197e+06
85                      Unique ID of government school  4.051329e+06
14                        Current Class-Grade of Child  4.008529e+06
10                                          Edu status  3.714055e+06
150                                             GS018d  3.532817e+06
24                                                C011  3.081504e+06
21                                                C010  2.503094e+06
38                                              WSCORE  2.321149e+06
25                                   Arithmetic Levels  2.192890e+06
18                                               C008a  1.935260e+06
20                                               C008b  1.778749e+06
29                                                C013  1.603913e+06
40                                              Windex  1.420850e+06
153                                             GS018g  9.239820e+05
9                            Education Status of Child  9.154433e+05
39                             WINDEX/Economic Profile  8.521563e+05
11                                 Reasons for Dropout  4.221813e+05
12                                 Reasons for dropout  4.191661e+05
17                                                C007  4.170456e+05
94                                              GS007E  3.861570e+05
95                                              GS007P  3.781689e+05
6                                         Age of Child  2.798464e+05
75   Total number of surviving children (LESS THAN ...  2.741498e+05
183                                             GS020g  2.375501e+05
13             If Drop-out, studied up-to which\nclass  2.342313e+05
179                                             GS020c  1.820027e+05
7                                      Gender of Child  1.579969e+05
28                                               C012c  1.450497e+05
27                                               C012b  1.354414e+05
77                              PR004/Mother Education  1.337956e+05
81                     Has father ever gone to school?  1.251086e+05
149                                             GS018c  1.141375e+05
26                                               C012a  1.042545e+05
175                                              GS020  9.881989e+04
145                                              GS018  9.876820e+04
91                                              GS003Y  9.249964e+04
5                                                  DID  4.512488e+04

FEATURE SELECTION AND PREPROCESSING PT 2

In [ ]:
df = pd.read_csv('Edu.csv')
df.rename(columns={'Gender ':'Gender'},inplace=True)

In [ ]:
df = df.replace(np.nan, df.mode(dropna = True).iloc[0])

labels = ['Type of place of residence','Gender','Edu status','Reasons for dropout','If Drop-out, studied up-to which\nclass','Current Class-Grade of Child','Currently Enrolled: Institution type','Enrolled child currently taking any paid tution','Windex','Type of household','mergeone','Name of Province/Territory','Name of the District','Local Language of the Village','mergetwo','Mother education','PR005','Father education status','If gone, what was grade last completed by father?','mergethree','GS001a','GS003a','GS005','GS012d','_merge']
for i in labels:
  df[i]= df[i].astype('category')
  label = dict(enumerate(df[i].cat.categories))
  df[[i]] = df[[i]].apply(lambda x: x.cat.codes)

In [ ]:
df.replace(-1,1,inplace=True)
cols = df.columns[df.nunique() <= 1]
print(cols)
print(df.isnull().sum().sum())
for i in range(len(cols)):
    df.drop([cols[i]], axis=1, inplace = True)
    
print(df.columns[df.nunique() <= 1])
print(df.isnull().sum().sum())

Index(['Year of Survey', 'Type of place of residence',
       'Type of Place of Residence', 'C013a', 'C013b', 'C016', 'C017', 'SYEAR',
       'HPSPA', 'mergeone', 'Area', 'mergetwo', 'mergethree', 'GS018',
       'GS020'],
      dtype='object')
780558
Index([], dtype='object')
0

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import f_classif
 
#Input attributes
X= df.iloc[:,:]
 
#outout attribute
Y = df.iloc[:,7]

In [ ]:
dfscores = pd.DataFrame(fitted.scores_)
dfcolumns = pd.DataFrame(X.columns)
 
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score'] #naming the dataframe columns
 
print(featureScores.nlargest(50,'Score')) #print 10 best features

                                               Specs         Score
144                                           GS019e  2.694561e+08
146                                           GS019g  2.573546e+08
151                                           GS019m  1.310804e+08
0                                                RID  9.811529e+07
152                                           GS019n  7.467815e+07
176                                           GS021h  7.352551e+07
177                                           GS021i  3.442314e+07
148                                           GS019i  2.630151e+07
182                                           GS021p  2.150243e+07
147                                           GS019h  2.107011e+07
181                                           GS021n  2.090006e+07
16                                             C008b  8.609198e+06
15   Enrolled child currently taking any paid tution  8.146379e+06
178                                           GS021j  4.507197e+06
85                                            GS009a  4.051329e+06
14                                             C008a  4.008529e+06
10                      Current Class-Grade of Child  3.714055e+06
150                                           GS019k  3.532817e+06
24                                             C012c  3.081504e+06
21                                 Arithmetic Levels  2.503094e+06
38                                              H003  2.321149e+06
25                                              C013  2.192890e+06
18                                             C010a  1.935260e+06
20                                              C011  1.778749e+06
29                                              C019  1.603913e+06
40                                              H005  1.420850e+06
153                                           GS019p  9.239820e+05
9            If Drop-out, studied up-to which\nclass  9.154433e+05
39                                              H004  8.521563e+05
11             Currentlly enrolled: Institution Type  4.221813e+05
12              Currently Enrolled: Institution type  4.191661e+05
17                                              C010  4.170456e+05
94                                            GS010c  3.861570e+05
95                                            GS010d  3.781689e+05
6                                         Edu status  2.798464e+05
75                              GS003/English Medium  2.741498e+05
183                                           GS021q  2.375501e+05
13                                              C007  2.342313e+05
179                                           GS021k  1.820027e+05
7                                Reasons for Dropout  1.579969e+05
28                                              C018  1.450497e+05
27                                              C015  1.354414e+05
77                                            GS003Y  1.337956e+05
81                                            GS007P  1.251086e+05
149                                           GS019j  1.141375e+05
26                                              C014  1.042545e+05
175                                           GS021g  9.881989e+04
145                                           GS019f  9.876820e+04
91                                            GS009z  9.249964e+04
5                          Education Status of Child  4.512488e+04

PCA

In [ ]:
import numpy
from pandas import read_csv
from sklearn.decomposition import PCA
# load data

#Input attributes
X= df.iloc[:,:]
 
#outout attribute
Y = df.iloc[:,9]

# feature extraction
pca = PCA(n_components=3)
fit = pca.fit(X)
# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)
print(fit.components_)

Explained Variance: [0.41490744 0.2015075  0.13559363]
[[-1.61097195e-06 -4.17292701e-05  1.59341855e-07 -8.55622192e-09
   8.55622192e-09  2.54745559e-07 -2.54745559e-07 -5.67023263e-08
   2.12079620e-08 -1.48442013e-08  1.87648346e-07  5.89007477e-08
   2.30830554e-07 -6.28465974e-08  4.10467605e-08  4.10467605e-08
   8.58634309e-07  3.23555805e-07  1.04868808e-09  9.26208118e-10
   1.61610230e-07  4.85882532e-07  2.13262065e-08  1.25555157e-07
   1.41143197e-07  5.71296430e-07 -1.88957503e-09  1.35625027e-09
  -2.40433827e-08  2.17013275e-09  3.02293995e-07  3.76150103e-07
   2.78971826e-07  1.66399149e-07 -4.64794282e-07 -2.50355529e-07
   5.65670449e-07  6.34690014e-07  1.55852482e-08  8.00846748e-08
   1.71653870e-08  1.15806151e-07 -3.47911496e-08  3.35151620e-08
  -6.25869065e-09  1.01533246e-07  3.27063708e-08 -1.09681849e-07
   8.30198470e-08 -2.69119884e-09  2.47809162e-06  8.21240739e-06
   5.53934476e-05  2.68573431e-07  1.09229688e-07  7.55337677e-08
   1.11649773e-07 -3.08185615e-08  1.19429805e-07  1.67477277e-07
   6.17071004e-07 -7.97387834e-07 -1.26783942e-07 -1.75683827e-08
   1.13456449e-07  1.13456449e-07  4.33568244e-07 -2.03028909e-07
   1.34538247e-07  1.31460903e-07  8.04002217e-07  2.37735970e-03
   2.54927944e-07  7.22825551e-08  1.22566649e-08 -2.58936436e-07
   5.80060712e-10 -8.94227655e-06  1.73070231e-07 -2.66668440e-07
   3.81443551e-04  3.46839792e-04  5.57420214e-06  5.16473902e-06
   6.93519342e-07 -8.62489261e-09 -4.24846128e-08 -1.66274545e-07
  -1.57613369e-07  2.09002370e-06  7.07456702e-08  7.62851660e-08
   1.16458084e-09 -8.73093038e-08  2.80580404e-07  9.68237842e-07
   7.47707672e-07  2.42165763e-07 -1.93421358e-08  1.18833207e-07
   3.98839363e-07 -4.35309022e-08  6.06663397e-06  4.67968924e-06
   4.04833392e-07  3.64445697e-07  5.74293746e-07  4.36847961e-07
   3.46293780e-07  3.49178789e-07  3.11005520e-07  3.99426524e-07
   3.77555948e-07  5.28379576e-08  1.27919186e-07 -2.90460571e-07
  -9.14811347e-08 -2.32835337e-08  4.78912300e-10 -2.05980290e-07
  -1.00909319e-07  4.58330474e-08  2.60264749e-07 -2.06770260e-08
   2.36310150e-07 -1.14856453e-07  2.28579129e-07  5.46671205e-07
   9.32721530e-06  8.76787822e-06  3.67540433e-01  9.15299738e-01
   2.76508951e-02  3.39939341e-03 -1.16846913e-05  3.56955170e-06
   6.17638887e-02 -2.29830528e-03  1.33130096e-04 -9.99610902e-07
   2.73688504e-07  1.04470689e-07  3.40223032e-07  1.35677406e-07
   2.07845975e-07  2.70308116e-07  2.44033949e-07  4.27610221e-07
   1.97333994e-07  5.55249161e-07  4.08827805e-07  4.22510723e-07
   4.17376499e-07  3.95161797e-07  4.16239251e-07  1.66864788e-07
   2.07163833e-07  1.73675771e-07  3.19482081e-07  9.14486235e-08
   1.49068902e-01  8.54396909e-03  2.72881610e-03 -1.57518570e-05
  -6.93717579e-06  1.53665408e-02  3.37537841e-04  2.48950493e-04
  -3.70372948e-06  6.07359824e-08  3.99468275e-08  1.16734341e-07
   5.83137984e-08  1.29356451e-07  1.29877384e-07  1.05974984e-07
   2.33300001e-07  7.58990963e-08  1.97074516e-07  1.78133311e-07
   1.78747690e-07  2.46530739e-07  2.04417054e-07  2.18965504e-07
   1.20470555e-07  1.36107553e-07  1.40077103e-07  1.60957840e-07
   7.19449561e-08  9.19832795e-08]
 [-5.52766563e-07 -1.70653062e-05  4.89240867e-07 -3.37863001e-08
   3.37863001e-08  1.45531879e-07 -1.45531879e-07 -4.36100882e-08
   1.41730531e-08 -1.06003511e-07  1.78864034e-08 -3.58191644e-09
   1.07277803e-07 -2.11652702e-08  2.78989885e-08  2.78989885e-08
   1.37282599e-06  1.38999273e-07 -1.20652714e-09 -1.45102536e-09
   3.54447623e-08  1.56388700e-07  6.50169240e-08  1.30634065e-07
   1.32574518e-07  3.89342672e-07 -2.38906684e-10 -1.15472348e-09
   7.55253904e-09  4.78992803e-09  4.11913172e-07  4.34481649e-07
   2.36476146e-07 -5.25779595e-08 -1.76399342e-07 -9.79377465e-08
   1.34012414e-07  3.74464491e-07  4.87622487e-09  1.09104913e-07
   5.60264031e-08  9.45170338e-08 -4.20608695e-10  7.67490859e-08
   9.69231472e-08  2.05708469e-08  1.15136865e-07  7.72047391e-08
   1.18883180e-07  4.88607961e-09  9.17179814e-07 -1.36063707e-06
   2.30011981e-05  1.53004516e-07  8.60896738e-08  4.74392231e-08
   2.15646821e-07 -5.53299879e-09  1.28033774e-07  1.85162958e-07
   3.56404822e-07 -1.11310897e-07 -5.97175364e-09  2.81478534e-08
   1.20010848e-07  1.20010848e-07 -4.16042845e-08  3.08251975e-07
   1.17759663e-07  1.11146306e-07  6.34391934e-07  1.19305405e-03
  -3.72576395e-07  3.36335211e-08  1.50973305e-07 -7.11774510e-08
   2.15113949e-10 -5.34378025e-06  4.38186819e-08  2.67439224e-07
   1.08446392e-04  9.18642717e-05 -2.78953020e-07 -1.48144279e-07
  -7.61951228e-07 -9.35867919e-09 -3.13155849e-08 -1.92060203e-08
   4.24302365e-07  2.54621099e-06  5.24002219e-08  4.06008684e-07
  -5.08241031e-08  2.38934273e-08  5.63066641e-07  1.58447603e-06
   1.04525044e-06  2.94820731e-07  6.46623827e-08  1.20185227e-07
   2.82576788e-07  3.17078810e-08  6.62582567e-07  3.22267082e-07
   1.27933057e-07  8.80444150e-08  1.92417840e-07  1.26954051e-07
   1.13957475e-07  1.61721574e-07  1.69795706e-07  2.21684108e-07
   1.64851928e-07  6.91146476e-08  1.75120336e-07 -1.65923924e-07
  -3.43359651e-08 -1.33675587e-08 -1.03427973e-10 -1.41296997e-07
  -6.08659095e-08 -2.82026861e-08  1.00728464e-07  3.62704940e-08
   1.10548528e-07 -1.25061569e-07  1.10845669e-07  2.86480237e-07
   3.66471186e-06  2.94708133e-06  9.14250456e-01 -3.86583044e-01
  -6.11563039e-03 -4.39426012e-04 -1.67664310e-05  1.24301893e-04
   1.74434742e-02  3.24952969e-02  2.32436030e-03 -3.41933694e-07
  -4.93664275e-10  3.72990278e-08  3.64038291e-08 -1.54411163e-08
  -6.73152090e-09  2.20849709e-08 -3.48371704e-08 -1.46488852e-07
   8.16045393e-09 -6.48034548e-09 -6.71212486e-08 -5.66862879e-08
  -1.25118103e-08  4.35241670e-08 -5.67873728e-08 -1.61225128e-08
   1.02932294e-08  4.54554462e-08 -6.11001396e-09 -1.87579013e-08
   1.11099706e-01  2.21949650e-02 -4.74637670e-05 -2.49544556e-06
  -2.57575159e-06  1.45335321e-02  1.56655075e-02  1.60692118e-03
  -1.05024788e-06  3.02012656e-08  7.20606691e-08  7.25052658e-08
  -5.30927486e-09  2.23483022e-08  2.85746267e-08  2.21636881e-08
   1.52878981e-08 -1.48760694e-08  6.87103688e-08  4.77396969e-08
   5.29729693e-08  3.51188693e-08  4.72735451e-08  1.17397828e-07
   2.05352227e-08  2.59666614e-09  2.49121221e-08  7.28858266e-09
  -1.60336374e-08  3.41123207e-08]
 [ 3.29971744e-08 -3.83406742e-06  3.23856866e-07  6.14760453e-09
  -6.14760454e-09  9.96407571e-08 -9.96407571e-08  3.86344244e-08
  -2.49755812e-09  5.90911282e-08  1.30251331e-07  3.95544037e-08
   6.31262996e-08 -1.00929308e-07  1.06732960e-08  1.06732960e-08
   7.02958716e-06  5.83339575e-08 -2.67608606e-09 -1.28345166e-09
  -8.10378518e-08  6.68086439e-08  1.96090796e-08  4.15028364e-08
   3.59881615e-08  4.31756665e-08  2.94026124e-09 -6.01435902e-09
   1.46542217e-08 -2.15799206e-09  7.51434501e-08  3.26408580e-09
  -5.11667552e-08 -5.73052323e-08 -1.40208389e-07 -1.75474829e-08
  -3.58463323e-08 -5.60925179e-08  1.37272306e-08  2.92231055e-08
  -2.06430258e-08  3.16375663e-08  1.74517332e-08  5.10239862e-08
  -9.23285627e-09  1.95553696e-08 -4.86742046e-08 -4.97417716e-10
  -3.47139279e-08  5.14865858e-11  1.24783841e-07 -1.19698901e-05
   5.25083005e-06  1.44287086e-07  1.41922397e-07  4.08900826e-08
  -1.82702526e-08  1.28308714e-07  1.44525104e-07  7.20158043e-07
   4.68844016e-07  6.83020616e-08 -6.37980371e-08  5.54001179e-09
   3.59210819e-08  3.59210819e-08  2.88013907e-07  3.70564870e-07
   8.24774319e-08  7.76819551e-08  3.80981610e-07 -2.65951323e-05
  -2.07912148e-09  4.18197987e-08 -1.06152482e-07 -1.24990573e-08
   7.77860117e-11  7.73758318e-07 -4.83441582e-08  1.32958694e-08
   1.62751956e-05  2.60954181e-05  1.33448374e-06  1.52431885e-06
   1.19664246e-06 -2.60857342e-09 -1.21496856e-08 -5.26006191e-08
  -1.06021467e-07  1.78525206e-06  8.10438642e-08 -6.18770518e-08
  -1.21927664e-08 -5.78484185e-08  7.86172495e-08  5.97810355e-07
   6.79656710e-07 -7.29208153e-08  3.03337060e-07  2.13871392e-08
  -3.09495049e-08 -2.86331748e-08  2.31527127e-06  1.35876427e-06
   1.92442653e-08  5.32975446e-08  3.54544329e-08  7.16797196e-08
   4.53776174e-08  1.14065698e-07  1.89753320e-07  8.12850625e-08
   1.06001478e-07 -4.99376556e-08  4.29981081e-10  2.94450818e-08
  -8.96239585e-08  1.07938327e-07  1.46960342e-10 -1.73052242e-07
   6.44761654e-08 -5.30660265e-08  1.75070309e-07  3.55921651e-09
   1.20615269e-07 -8.47440905e-08  1.78823069e-07  4.93679842e-08
   6.15012252e-08  3.39681085e-08 -3.21417911e-02 -4.46586891e-02
  -1.05786301e-02 -1.02619764e-03  6.19979261e-05  2.16412008e-03
   9.94441011e-01  2.14376172e-02 -3.12049049e-05 -1.05347752e-07
   2.71767217e-07  1.48077094e-07 -1.09318452e-08  5.03865189e-08
  -1.04554756e-08  1.08634662e-07 -2.48967498e-08  1.39197314e-07
   7.83781618e-09  1.61166810e-07  1.41473754e-07  3.70162089e-08
   3.82052650e-08  6.21609056e-08  1.67283333e-07  7.65490979e-08
  -3.52458071e-08  1.84111745e-08  1.40293214e-07 -1.01031833e-08
  -6.22346014e-02 -2.71839054e-03 -7.78952736e-04 -2.21953677e-07
  -9.29491808e-07  5.94948630e-02  7.84683339e-03 -8.60615969e-05
  -4.91799094e-07 -7.42553737e-10 -2.05769680e-08 -4.24040978e-08
  -1.31899105e-08 -4.44941460e-08 -3.10393739e-08 -1.54554884e-08
   4.87069383e-08  1.82605776e-08  1.92808769e-08 -2.66646979e-08
   4.40796334e-08 -2.06832346e-08  3.75283538e-09  2.56785803e-08
   6.38982538e-08 -1.73725090e-08 -4.57575596e-08 -4.39684315e-08
   6.33800644e-08  1.23348367e-08]]

ExtraTreesClassifier

In [ ]:
from pandas import read_csv
from sklearn.ensemble import ExtraTreesClassifier
# load data
# feature extraction
model = ExtraTreesClassifier(n_estimators=60)
model.fit(X, Y)
dfscores = pd.DataFrame(model.feature_importances_)
dfcolumns = pd.DataFrame(X.columns)
 
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score'] #naming the dataframe columns
 
print(featureScores.nlargest(30,'Score')) #print 10 best features
#print(model.feature_importances_)

                                                Specs     Score
9             If Drop-out, studied up-to which\nclass  0.153789
5                           Education Status of Child  0.120888
6                                          Edu status  0.096280
7                                 Reasons for Dropout  0.071550
2                                        Age of Child  0.047211
8                                 Reasons for dropout  0.027974
25                                               C013  0.011933
61                    Age of mother (completed years)  0.011692
21                                  Arithmetic Levels  0.011584
33                                           HCOUNTER  0.011338
67                    Age of father (completed years)  0.011323
17                                               C010  0.010696
62  Total number of surviving children (LESS THAN ...  0.009966
30                                             WSCORE  0.008446
3                                     Gender of Child  0.007679
34                                              H001M  0.007633
4                                              Gender  0.007564
1                                                 DID  0.007511
35                                              H001F  0.007478
51                               Name of the District  0.006920
71                     Unique ID of government school  0.006852
80                                             GS007E  0.006129
81                                             GS007P  0.006121
77                                             GS003Y  0.006092
52                      Local Language of the Village  0.006064
22                                              C012a  0.006041
45                                               H010  0.005914
31                            WINDEX/Economic Profile  0.005905
32                                             Windex  0.005864
59                                               V007  0.005392

In [ ]:
scored = featureScores.nlargest(35,'Score')

In [ ]:
Row_list =[] 
  
for index, rows in scored.iterrows(): 
    my_list = rows.Specs 
    Row_list.append(my_list) 
  

print(Row_list[:30])

['If Drop-out, studied up-to which\nclass', 'Education Status of Child', 'Edu status', 'Reasons for Dropout', 'Age of Child', 'Reasons for dropout', 'C013', 'Age of mother (completed years)', 'Arithmetic Levels', 'HCOUNTER', 'Age of father (completed years)', 'C010', 'Total number of surviving children (LESS THAN 17) of mother', 'WSCORE', 'Gender of Child', 'H001M', 'Gender', 'DID', 'H001F', 'Name of the District', 'Unique ID of government school', 'GS007E', 'GS007P', 'GS003Y', 'Local Language of the Village', 'C012a', 'H010', 'WINDEX/Economic Profile', 'Windex', 'V007']

In [ ]:
filtered = df[['If Drop-out, studied up-to which\nclass', 'Education Status of Child', 'Edu status', 'Reasons for Dropout', 'Age of Child', 'Reasons for dropout', 'C013', 'Age of father (completed years)', 'C010', 'HCOUNTER', 'Age of mother (completed years)', 'Arithmetic Levels', 'Total number of surviving children (LESS THAN 17) of mother', 'WSCORE', 'H001M', 'H001F', 'Gender of Child', 'DID', 'Gender', 'C012a', 'Unique ID of government school', 'Name of the District', 'GS007P', 'GS003Y', 'Local Language of the Village', 'GS007E', 'H010', 'WINDEX/Economic Profile', 'Windex', 'V007']]

In [ ]:
filtered.head()

   If Drop-out, studied up-to which\nclass  ...  V007
0                                       19  ...   2.0
1                                       19  ...   2.0
2                                       19  ...   2.0
3                                       19  ...   2.0
4                                       19  ...   2.0

[5 rows x 30 columns]

In [ ]:
filtered.to_csv('Edu3.csv')